*{
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(49, 213, 224);
    padding: 10px;
    display: flex;
    justify-content: center;
}

img {
    width: 400px;
}

nav {
    background-color: rgb(41, 40, 40);
    margin: 0;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    margin: 3px;
    align-items: center;
}

li {
    margin: 10px 20px 10px 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.avisolegal {
    color: green;
    font-size: 30px;
    margin: 20px;
}


#btn-language {
    background-color: #202020;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
}

#btn-language:hover {
    background-color: #191a19;
}

main {
    margin: 0;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.principal {
    background-color: rgb(49, 48, 48);
    margin: 20px 10px 20px 10px;
    padding: 10px 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

#personaje {
    width: 160px;
}

.NosotrosInfo {
    background-color: rgb(49, 48, 48);
    width: 50%;
    margin: 20px auto;
    padding: 10px 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NosotrosImg {
    width: 120px;
    height: 120px;
    float: left;
    margin: 10px 30px 10px 10px;

}

.NosotrosTexto {
    color: rgb(255, 255, 255);
    font-size: 20px;
    align-items: center;
    width: 70%;
}

.NosotrosTexto:first-child{
    margin: 20px auto;
    text-align: center;
    width: 90%;
}

.welcome {
    color: rgb(255, 255, 255);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}